

@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Gruppo');
@import url('https://fonts.googleapis.com/css?family=Creepster');
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');
@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');
@import url('https://fonts.googleapis.com/css?family=Asul:400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Neuton:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Overpass:400,400i,700');


body{
    font-family: 'Proza Libre', sans-serif;
}


h1, h2, h3, h4, h5 {
    page-break-after: avoid;
}

h1 {
    font-size: 18pt;
}

h2 {
    text-indent: 5mm;
}

h4 {
    padding-bottom: 5mm;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color:black;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}


.footnoteContainer sup{
    color: red;
}

sub {
    top: 0.4em;
}


.sidenav{
    display: block;
    width: 100%;
}

.sidenav a{
    display: block;
    cursor: default;
}

.sidenav .subtitle{
    margin-left: 5mm;
}

.abstract .hidden {
    display: inline-block;
    padding-top: 5mm;
    font-size: 14pt;
    font-family: 'Oswald';
}

.hidden{
    display: none;
}

.footnote-item-print{
    font-size: 10pt;
    display: flex;
    margin-left: 20mm;
}

.footnote-item-print div{
    display: inline-block;
}

.footnote-text{
    width: 95%;
}

.footnote-num{
    width: 5%;
}

.image-caption{
    font-size: 12pt;
    margin-bottom: 10mm !important;
    font-family: "Space Mono"
}


.coverpage h3{
    font-size: 60pt;
    text-transform: uppercase;
    line-height: 1.3em;
    font-family: 'Asul', sans-serif;
    filter: blur(3px);
}

.coverpage .meta{
    font-style:italic;
}


.chapter h4{
    font-size: 70pt;
    page-break-after: always;
    break-after: always;
}

.chapter .text{
    page-break-after: always;
    break-after: always;
}

.chapter-2 {
    background-color: black;
}

#chapter-1 h4 {
    font-family: 'Creepster', cursive;
}

#chapter-2 h4 {
    font-family: 'Cinzel Decorative', cursive;
}


#chapter-3 h4 {
    font-family: 'Nothing You Could Do', cursive;
}